FaceDetectionApp/Pods/OpenCV/opencv2.framework/Versions/A/opencv2 filter=lfs diff=lfs merge=lfs -text
FaceDetectionApp/Pods/TensorFlowLiteC/Frameworks/TensorFlowLiteC.xcframework/** filter=lfs diff=lfs merge=lfs -text
